/***** between media queries *****/

/*Small devices (landscape phones, between 576px and 767px)*/

@media (min-width: 576px) and (max-width: 767px) {}

/*Medium devices (tablets, between 768px and 991px)*/

@media (min-width: 768px) and (max-width: 991px) {}

/*Large devices (desktops, between 992px and 1199px)*/

@media (min-width: 992px) and (max-width: 1199px) {}

/***** above media queries *****/

/*Small devices (landscape phones, above 576px)*/

@media (min-width: 576px) {}

/*Medium devices (tablets, above 768px)*/

@media (min-width: 768px) {}

/*Large devices (desktops, above 992px)*/

@media (min-width: 992px) {}

/*Extra large devices (large desktops, above 1200px)*/

@media (min-width: 1200px) {

}
/*Extra extra large devices (large desktops, above 1500px)*/
@media (min-width: 1500px) {
.homebutton {
  margin-top: 60rem;
}
}

/***** below media queries *****/

/*Extra small devices (portrait phones, below 576px)*/

@media (max-width: 575px) {
  .iframe-vid {
    margin: 10px 0px;
  }
  .emboldly-footer {
    display: none;
  }
}

/*Small devices (landscape phones, below 768px)*/

@media (max-width: 767px) {
  .nav-item {
    border: none !important;
    margin: auto;
  }
  .nav-item:hover {
    letter-spacing: 0.08rem;
    margin: auto;
    padding: auto;
  }
  .nav-link {
    padding: .3rem !important;
  }
  .navbar-nav {
    align-items: center;
    flex-direction: row;
  }
  .navbar {
    height: 11vh;
  }
  .flickr-image img {
    margin: 40px auto;
  }
  .soc a {
    height: 4rem !important;
    width: 4rem !important;
  }
}

/*Medium devices (tablets, below 992px)*/

@media (max-width: 991px) {
  .comp-display {
    display: none;
  }
  .video-section {
    padding-right: 0px !important;
  }
  .video-stage {
    padding: 2rem 0;
  }
  .main-area {
    height: auto;
  }
  .contact-text-placer {
    margin: 20px auto;
  }
  .contact-picture {
    width: 50%;
    height: auto;
  }
  .soc {
    margin-top: 0;
    padding: 0;
  }
  .soc a {
    height: 6rem;
    width: 6rem;
  }
  .box {
    margin: auto auto;
  }
  .flickr-image {
      margin: 30px auto;
    }
    .more-photos {
    margin-bottom: 3rem;
  }
}

/*Large devices (desktops, below 1200px)*/

@media (max-width: 1199px) {}
