/***** between media queries *****/
/*Small devices (landscape phones, between 576px and 767px)*/
@media (min-width: 576px) and (max-width: 767px) {}

/*Medium devices (tablets, between 768px and 991px)*/
@media (min-width: 768px) and (max-width: 991px) {}

/*Large devices (desktops, between 992px and 1199px)*/
@media (min-width: 992px) and (max-width: 1199px) {}

/***** above media queries *****/
/*Small devices (landscape phones, above 576px)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, above 768px)*/
@media (min-width: 768px) {}

/*Large devices (desktops, above 992px)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, above 1200px)*/
@media (min-width: 1200px) {}

/***** below media queries *****/
/*Extra small devices (portrait phones, below 576px)*/
@media (max-width: 575px) {
  .nav-item {
    border: none !important;
    margin: auto;
  }
  .nav-link {
    padding: 3px !important;
  }
  .navbar-nav {
    align-items: center;
    flex-direction: row;
  }
  .navbar {
    height: 11vh;
  }
}

/*Small devices (landscape phones, below 768px)*/
@media (max-width: 767px) {}

/*Medium devices (tablets, below 992px)*/
@media (max-width: 991px) {}

/*Large devices (desktops, below 1200px)*/
@media (max-width: 1199px) {}
