// sass --watch scss/style.scss:css/style.css
$primary-color: #006ea4;
$primary-dark: #023a55;
$secondary-color: #0c0f13;
$background-light: #333;
$text-color: rgb(230, 230, 230);
$font-family-sans-serif: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
// mixins
@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
@mixin abstlycenter($w,$h) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -($w*0.5);
  margin-top: -($h*0.5);
}
@mixin a($width, $height) {
  width: $width;
  height: $height;
  line-height: $height;
  @include abstlycenter($width, 0px);
}
@mixin clip($string) {
  -webkit-clip-path: $string;
  clip-path: $string;
}
@mixin grab {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
// keyframes mixin
@mixin keyframe($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin base-shadow {
  -webkit-box-shadow: 0 0 18px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 18px 3px rgba(0,0,0,0.5);
  box-shadow: 0 0 18px 3px rgba(0,0,0,0.5);
}

body {
  // background: url("../img/pattern/whitediamond.png");
  font-family: $font-family-sans-serif;
}

.main-area {
  height: 84vh;
}

a:hover {
  color: lightsteelblue;
  color: $text-color;
}

.navbar {
  height: 9vh;
  background-image: url(../img/pattern/micro_carbon.png);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  color: $text-color;
  font-weight: 500;
  font-size: 29px;
  font-family: 'Spectral SC', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.nav-link {
  letter-spacing: 0.8px;
  color: $text-color;
  padding: 23px 0px;
}

.nav-item {
  transition: border 0.5s, background-color 0.2s;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);

  &:hover {
    letter-spacing: none;
    background-color: darken($secondary-color, 20%);
    border-right: none !important;
    border-left: none !important;
    text-shadow: none;
  }
}

/* footer */
.footer-card {
  border-radius: 0 !important;
  border: none !important;
}

.footer {
  background-image: url(../img/pattern/micro_carbon.png);
  height: 7vh;
  color: $text-color;
  border-radius: 0;
  line-height: inherit;
}
/* index */
.homejumbo {
  background-image: url("../img/explorewithme.jpg");
  height: 91vh;
  background-size: cover;
  background-position: center;
  padding: 9rem 0;
  border-radius: 0;
  margin-bottom: 0;
  @include base-shadow;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/denver.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.home-info {
background-color: $background-light;
  // background-image: url(../img/pattern/micro_carbon.png);
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.video-text {
  margin-top: 190px !important;
}

.home-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  @include base-shadow;
}

.home-img h4 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#img-1 {
  background: url("../img/coliseum.JPG");
  background-position: center;
  background-size: cover;
}

#img-2 {
  background: url("../img/boatinmexico.jpg");
  background-position: center;
  background-size: contain;
}

#img-3 {
  background: url("../img/denver2.JPG");
  background-position: 50% 70%;
  background-size: cover;
}

.btn-primary {
background-color: $primary-color;
border-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, 10%);
    border: none;
  }
  &:active {
    background-color: darken($primary-color, 10%) !important;
    border: none;
  }
}


.img-thumbnail {
  padding: 0;
  border: none;
}

.card-img {
  max-height: 500px;
  max-width: none;
}

.card-img-overlay {
  top: auto;
}

.stage {
    background-image: url(../img/pattern/micro_carbon.png);
}

.homebutton {
  margin-top: 350px;
}

.buttoneffect {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    border: $primary-color solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
  }

  &:active:before,
  &:focus:before,
  &:hover:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border: darken($primary-color, 10%) solid 4px;
    border-radius: .3rem;
  }
}

.carousel-item {
  height: 90vh;
}

.text-light {
  color: $text-color !important;
}

//photo effect
.photo-button {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

section h4:after,
section h4:before {
  content: '';
}

.photo-effect {
  h4 {
    @include a(250px, 100px);

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      border-color: #FF0000;
      border-style: solid;
      border-width: 0;
      -webkit-transition: all 0.5s cubic-bezier(1, 0.2, 0.26, 0.7);
      -moz-transition: all 0.5s cubic-bezier(1, 0.2, 0.26, 0.7);
      transition: all 0.5s cubic-bezier(1, 0.2, 0.26, 0.7);
      -webkit-transform: translate(0px, 0px) scale(0.8);
      -moz-transform: translate(0px, 0px) scale(0.8);
      -ms-transform: translate(0px, 0px) scale(0.8);
      -o-transform: translate(0px, 0px) scale(0.8);
      transform: translate(0px, 0px) scale(0.8);
      opacity: 0;
    }

    &:before {
      left: 0;
      bottom: 0;
      border-bottom-width: 1px;
      border-left-width: 1px;
    }

    &:after {
      top: 0;
      right: 0;
      border-top-width: 1px;
      border-right-width: 1px;
    }

    &:hover {
      &:after,
      &:before {
        -webkit-transition: all 2s cubic-bezier(0.14, 1.13, 0, 0.91);
        -moz-transition: all 2s cubic-bezier(0.14, 1.13, 0, 0.91);
        transition: all 2s cubic-bezier(0.14, 1.13, 0, 0.91);
        opacity: 1;
      }

      &:before {
        -webkit-transform: translate(-30px, 20px) scale(1);
        -moz-transform: translate(-30px, 20px) scale(1);
        -ms-transform: translate(-30px, 20px) scale(1);
        -o-transform: translate(-30px, 20px) scale(1);
        transform: translate(-30px, 20px) scale(1);
        border-bottom-width: 12px;
        border-left-width: 12px;
      }

      &:after {
        -webkit-transform: translate(30px, -20px) scale(1);
        -moz-transform: translate(30px, -20px) scale(1);
        -ms-transform: translate(30px, -20h4x) scale(1);
        -o-transform: translate(30px, -20px) scale(1);
        transform: translate(30px, -20px) scale(1);
        border-top-width: 12px;
        border-right-width: 12px;
      }
    }
  }
}

// contact
.contact-page {
  background-color: $background-light;
}

.contact-picture {
  height: 400px;
}

.box {
  position: relative;
  text-align: center;
}

.soc {
  display: inline-block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 48px;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 70px;
  // height: 9.6rem;
  width: 70px;
  // width: 9.6rem;
}
.soc svg {
  height: 100%;
  width: 100%;
}
.soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover, .icon-6:hover, .icon-7:hover, .icon-8:hover, .icon-9:hover, .icon-10:hover, .icon-11:hover, .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover, .icon-16:hover, .icon-17:hover, .icon-18:hover, .icon-19:hover, .icon-20:hover, .icon-21:hover, .icon-22:hover, .icon-23:hover, .icon-24:hover, .icon-25:hover, .icon-26:hover, .icon-27:hover, .icon-28:hover, .icon-29:hover, .icon-30:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-1 {
  color: #d94a26;
  fill: #d94a26;
}
.icon-1:hover {
  background: #d94a26;
}

.icon-2 {
  color: #d96e26;
  fill: #d96e26;
}
.icon-2:hover {
  background: #d96e26;
}

.icon-3 {
  color: #d99126;
  fill: #d99126;
}
.icon-3:hover {
  background: #d99126;
}

.icon-4 {
  color: #d9b526;
  fill: #d9b526;
}
.icon-4:hover {
  background: #d9b526;
}

.icon-5 {
  color: #d9d926;
  fill: #d9d926;
}
.icon-5:hover {
  background: #d9d926;
}

.icon-6 {
  color: #b5d926;
  fill: #b5d926;
}
.icon-6:hover {
  background: #b5d926;
}

.icon-7 {
  color: #91d926;
  fill: #91d926;
}
.icon-7:hover {
  background: #91d926;
}

.icon-8 {
  color: #6ed926;
  fill: #6ed926;
}
.icon-8:hover {
  background: #6ed926;
}

.icon-9 {
  color: #4ad926;
  fill: #4ad926;
}
.icon-9:hover {
  background: #4ad926;
}

.icon-10 {
  color: #26d926;
  fill: #26d926;
}
.icon-10:hover {
  background: #26d926;
}

.icon-11 {
  color: #26d94a;
  fill: #26d94a;
}
.icon-11:hover {
  background: #26d94a;
}

.icon-12 {
  color: #26d96e;
  fill: #26d96e;
}
.icon-12:hover {
  background: #26d96e;
}

.icon-13 {
  color: #26d991;
  fill: #26d991;
}
.icon-13:hover {
  background: #26d991;
}

.icon-14 {
  color: #26d9b5;
  fill: #26d9b5;
}
.icon-14:hover {
  background: #26d9b5;
}

.icon-15 {
  color: #26d9d9;
  fill: #26d9d9;
}
.icon-15:hover {
  background: #26d9d9;
}

.icon-16 {
  color: #26b5d9;
  fill: #26b5d9;
}
.icon-16:hover {
  background: #26b5d9;
}

.icon-17 {
  color: #2691d9;
  fill: #2691d9;
}
.icon-17:hover {
  background: #2691d9;
}

.icon-18 {
  color: #266ed9;
  fill: #266ed9;
}
.icon-18:hover {
  background: #266ed9;
}

.icon-19 {
  color: #264ad9;
  fill: #264ad9;
}
.icon-19:hover {
  background: #264ad9;
}

.icon-20 {
  color: #2626d9;
  fill: #2626d9;
}
.icon-20:hover {
  background: #2626d9;
}

.icon-21 {
  color: #4a26d9;
  fill: #4a26d9;
}
.icon-21:hover {
  background: #4a26d9;
}

.icon-22 {
  color: #6e26d9;
  fill: #6e26d9;
}
.icon-22:hover {
  background: #6e26d9;
}

.icon-23 {
  color: #9126d9;
  fill: #9126d9;
}
.icon-23:hover {
  background: #9126d9;
}

.icon-24 {
  color: #b526d9;
  fill: #b526d9;
}
.icon-24:hover {
  background: #b526d9;
}

.icon-25 {
  color: #d926d9;
  fill: #d926d9;
}
.icon-25:hover {
  background: #d926d9;
}

.icon-26 {
  color: #d926b5;
  fill: #d926b5;
}
.icon-26:hover {
  background: #d926b5;
}

.icon-27 {
  color: #d92691;
  fill: #d92691;
}
.icon-27:hover {
  background: #d92691;
}

.icon-28 {
  color: #d9266e;
  fill: #d9266e;
}
.icon-28:hover {
  background: #d9266e;
}

.icon-29 {
  color: #d9264a;
  fill: #d9264a;
}
.icon-29:hover {
  background: #d9264a;
}

.icon-30 {
  color: #d92626;
  fill: #d92626;
}
.icon-30:hover {
  background: #d92626;
}
