// sass --watch scss/style.scss:css/style.css
$primary-color: #008ed6;
$secondary-color: #262a2e;
$text-color: whitesmoke;
$font-family-sans-serif: 'Open Sans', -apple-system,
system-ui, BlinkMacSystemFont,  "Segoe UI",  "Roboto",  "Helvetica Neue", Arial, sans-serif;

body {
  background: url(../img/whitediamond.png);
  font-family: $font-family-sans-serif;
}

a:hover {
  color: lightsteelblue;
  color: $text-color;
}

.navbar {
  border-bottom:$primary-color 3px solid;
  background-image: linear-gradient($secondary-color, black);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  color: $text-color;
  font-weight: 500;
  font-size: 29px;
  font-family: 'Spectral SC', -apple-system, system-ui, BlinkMacSystemFont,  "Segoe UI",  "Roboto",  "Helvetica Neue", Arial, sans-serif;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.nav-link {
  letter-spacing: .8px;
  color: $text-color;
}

.nav-item {
  transition: border .5s, background-color .2s;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  &:hover {
    letter-spacing: none;
    background-color: #2a2e33;
    border-right: none !important;
    border-left: none !important;
    text-shadow: none;
  }
}

/* footer */
.footer-card{
border-radius: 0px !important;
border: none !important;
}

.footer {
      // background-image: linear-gradient(black, $secondary-color);
      background-color: black;
      height: 50px;
      color: $text-color;
      border-radius: 0px;
}

/* index */

.homejumbo {
  background-image: url(../img/beach.jpg);
  background-size: cover;
  background-position: center;
  padding: 9rem 0;
  border-radius: 0rem;
  margin-bottom: 0rem;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url(../img/denver.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.home-info {
  // height: 400px;
  background-image: linear-gradient(black, $secondary-color);
}

.home-img {
  width: 100%;
  height: 200px;
  // overflow: hidden;
  background-size: cover;
}

.home-img h4 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#img-1 {
  background: url("../img/coliseum.jpg");
  background-position: center;
  background-size: cover;

}

#img-2 {
  background: url("../img/boatinmexico.jpg");
  background-position: center;
  background-size: cover;

}

#img-3 {
  background: url("../img/denver2.JPG");
  background-position: center;
  background-size: cover;

}

.btn-primary {
  background-color: $primary-color;
}

.card {
  /*width: 200px;*/
}

.img-thumbnail {
  padding: 0px;
  border: none;
}

.card-img {
max-height: 500px;
max-width: none;
}

.card-img-overlay {
    top: auto;
}

.stage {
  // background-color: $secondary-color;
  background-image: linear-gradient($secondary-color, black);
}

.buttoneffect {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border: $primary-color solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
  }
  &:hover:before, &:focus:before, &:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border: #0062cc solid 4px;
    /*border-radius: .3rem;*/
  }
}

.carousel-item {
  height: 90vh;
}

// mixins
@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
